# ignore IDE files
.idea/
.vscode/

# ignore OS files
.DS_Store
Thumbs.db

# ignore Python files
__pycache__/
*.pyc

# ignore Python virtual environment
.venv/

# ignore data
data/

# ignore node modules
node_modules/

# ignore local environment secrets
.env
.env.*
!.env.example

# ignore build artifacts
*.pdf